In [62]:
#!pip install pandas
#!pip install zipfile
#!pip install kaggle
#!pip install openpyxl

# pandas library 
import pandas as pd

# import zipfile library for extracting data from kaggle
import zipfile

# import kaggle library for extracting data from kaggle
import kaggle

import numpy as np

In [67]:
# downloading mcu dataset from Kaggle
!kaggle datasets download -d darrylljk/marvel-cinematic-universe-films-box-office

Dataset URL: https://www.kaggle.com/datasets/darrylljk/marvel-cinematic-universe-films-box-office
License(s): CC-BY-NC-SA-4.0
Downloading marvel-cinematic-universe-films-box-office.zip to c:\Users\holyl\Desktop\MovieDataVisualization

  0%|          | 0.00/1.01k [00:00<?, ?B/s]
100%|██████████| 1.01k/1.01k [00:00<00:00, 1.04MB/s]

In [68]:
# downloading movie dataset from Kaggle
!kaggle datasets download -d danielgrijalvas/movies

Dataset URL: https://www.kaggle.com/datasets/danielgrijalvas/movies
License(s): CC0-1.0
Downloading movies.zip to c:\Users\holyl\Desktop\MovieDataVisualization

  0%|          | 0.00/424k [00:00<?, ?B/s]
100%|██████████| 424k/424k [00:00<00:00, 8.91MB/s]

In [71]:
# extract the csv from downloaded zipfile

movies_zipfile = 'movies.zip'
with zipfile.ZipFile(movies_zipfile,'r') as file:
    file.extractall()

In [72]:
# read in extracted csv into pandas dataframe

movie_database = pd.read_csv("movies.csv")

In [73]:
movie_database.shape

(7668, 15)

In [74]:
movie_database.head(5)

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [90]:
# get the info for the movie database

movie_database.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7478 entries, 0 to 7659
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      7478 non-null   object
 1   rating    7478 non-null   object
 2   genre     7478 non-null   object
 3   year      7478 non-null   int64
 4   released  7478 non-null   object
 5   score     7478 non-null   float64
 6   votes     7478 non-null   float64
 7   director  7478 non-null   object
 8   writer    7478 non-null   object
 9   star      7478 non-null   object
 10  country   7478 non-null   object
 11  budget    7478 non-null   float64
 12  gross     7478 non-null   float64
 13  company   7478 non-null   object
 14  runtime   7478 non-null   float64
dtypes: float64(5), int64(1), object(9)
memory usage: 934.8+ KB

In [76]:
# check for missing data
for col in movie_database.columns:
    missing_info = np.mean(movie_database[col].isnull())
    print(col,": ", round(missing_info*100,2),"%")

name :  0.0 %
rating :  1.0 %
genre :  0.0 %
year :  0.0 %
released :  0.03 %
score :  0.04 %
votes :  0.04 %
director :  0.0 %
writer :  0.04 %
star :  0.01 %
country :  0.04 %
budget :  28.31 %
gross :  2.46 %
company :  0.22 %
runtime :  0.05 %

In [77]:
# clean budget using median value

movie_database["budget"].fillna(movie_database["budget"].median(), inplace=True)

C:\Users\holyl\AppData\Local\Temp\ipykernel_32476\3373663078.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_database["budget"].fillna(movie_database["budget"].median(), inplace=True)

In [78]:
# clean gross by dropping missing values

movie_database.dropna(how="all", subset="gross", inplace=True)

In [85]:
# clean runtime by dropping missing values

movie_database.dropna(how="all", subset="runtime", inplace=True)

In [79]:
# cleaning rating using the most frequent value that appears (mode) 
movie_database["rating"].fillna(movie_database["rating"].mode()[0], inplace=True)

C:\Users\holyl\AppData\Local\Temp\ipykernel_32476\4058699462.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_database["rating"].fillna(movie_database["rating"].mode()[0], inplace=True)

In [80]:
# cleaning company using the most frequent value that appears 

movie_database["company"].fillna(movie_database["company"].mode()[0], inplace=True)

C:\Users\holyl\AppData\Local\Temp\ipykernel_32476\266053062.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  movie_database["company"].fillna(movie_database["company"].mode()[0], inplace=True)

In [81]:
# manipulating the data

movie_database.name = movie_database.name.astype('str')
movie_database.rating = movie_database.rating.astype('str')
movie_database.genre = movie_database.genre.astype('str')
movie_database.director = movie_database.director.astype('str')
movie_database.writer = movie_database.writer.astype('str')
movie_database.star = movie_database.star.astype('str')
movie_database.country = movie_database.country.astype('str')
movie_database.company = movie_database.company.astype('str')

In [87]:
# check for missing data from cleaned data frame

for col in movie_database.columns:
    missing_info = np.mean(movie_database[col].isnull())
    print(col,": ", round(missing_info*100,2),"%")

name :  0.0 %
rating :  0.0 %
genre :  0.0 %
year :  0.0 %
released :  0.0 %
score :  0.0 %
votes :  0.0 %
director :  0.0 %
writer :  0.0 %
star :  0.0 %
country :  0.0 %
budget :  0.0 %
gross :  0.0 %
company :  0.0 %
runtime :  0.0 %

In [88]:
movie_database.head(5)

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [89]:
# writng dataframe into excel file for Tableau

movie_database.to_excel('movies.xlsx', sheet_name='Data')